body {
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    font-size: 120%;
    }

i {
  text-align:right;
  font-size: 100%; 
}


h1 {
  text-align:center;
  font-size: 300%;
  }

h2 {
  text-align:center;
  padding-top: 0%;
  font-size: 200%;
  }
  

h6 {
  text-align:center;
  font-size: 75%;
  line-height: 2px; 
  }
 
.tooltip {
  max-width: 20%; 
  background-color: #f7ece7;
  border-color: black;
  padding: 5px;
  z-index: 30; /* to indicate layer placement */
}

div{
  padding: 0px;
}

#main_map { 
  width: 100%;
  height: 1000px;
  }

  .wrapper {
      display: grid;
      grid-gap: 0px; /* eventually remove to get rid of grid borders */
      grid-template-columns:  [col1-start] auto [col2-start] auto  [col3-start] auto  [col4-start] auto  [col4-end];
      grid-template-rows: [row0-start] auto [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row5-start] auto [row6-start] auto [row7-start] auto [row8-start] auto [row9-start] auto [row10-start] auto [row10-end];
      background-color: rgb(0, 0, 0);
      color: #f7ece7;
      padding: 0px; /* eventually remove to get rid of grid borders */
    }
  
    .box {
      background-color: rgb(100,119,185);
      color:#f7ece7;
      border-radius: 0px;
      padding: 10px;
      z-index:10; /* to indicate layer placement */
    }
    .a {
      background-color: #f7ece7;
      grid-column: col1-start / col4-end;
      grid-row: row0-start ;
    }
    .ab {
      background-color: rgb(255,105,93);
      grid-column: col1-start / col4-end;
      grid-row: row1-start ;
      text-align:center;
      color: rgb(255, 255, 255);
      padding-top: 5%;
      padding-bottom: 5%;
      height: 80vh;
    }
    .ac {
      background-color: #f7ece7;
      grid-column: col1-start / col4-end;
      grid-row: row2-start ;
      text-align:center;
      color: black;
      padding-top: 5%;
      padding-bottom: 0%;
      z-index:0; /* to indicate layer placement */
    }
    .bL {
      background-color: transparent;
      grid-column: col1-start / col3-start;
      grid-row: row3-start ;
      line-height: 25px;
      text-align:left;
      color: black;
      padding-top: 25vh;
      padding-left: 7%;
      max-width: 33%;
      z-index: 2; /* to indicate layer placement */
    }
    .b {
      background-color: #f7ece7;
      grid-column: col1-start / col4-end;
      grid-row: row3-start ;
      color: black;
      line-height: 30px;
      padding-bottom: 8%;
      z-index: 1;
    }
    .bR {
      background-color:transparent; /* bc it was blocking the chart */
      grid-column: col4-start / col4-end;
      grid-row: row3-start ;
      line-height: 20px;
      text-align:right;
      color: black;
      padding-top: 25vh;
      padding-left: 20%;
      padding-right: 15%;
      z-index: 20; /* to indicate layer placement */
    }
    .cTop {
      background-color: rgb(255,105,93);
      grid-column: col1-start / col4-end;
      grid-row: row4-start ;
      color: white;
      text-align: justify;
      max-height: 2%;
      padding-right: 30%;
      padding-left: 30%;
      padding-top: 7%;
      z-index: 20; /* to indicate layer placement */
    }
    .c {
      background-color: rgb(255,105,93);
      grid-column: col1-start / col3-start;
      grid-row: row4-start ;
      color: white;
      padding-top: 36%;
      padding-bottom: 15%;
    }
    .d {
      background-color: rgb(255,105,93);
      grid-column: col3-start / col4-end;
      grid-row: row4-start ;
      color: white;
      padding-top: 40%;
      padding-bottom: 15%;
    }

 /* REMOVED box e */
 /* REMOVED box f */
 /* REMOVED box g */


    .h {
      background-color: #f7ece7;
      grid-column: col1-start / col3-start;
      grid-row: row7-start ;
      color: rgb(255, 255, 255);
      padding-top: 5%;
      padding-right: 3%;
      padding-left: 3%;
      padding-bottom: 5%;
    }

    .i {
      background-color: #f7ece7;
      grid-column: col3-start / col4-end;
      grid-row: row7-start ;
      padding-top: 16%;
      padding-right: 8.5%;
      padding-left: 7%;
      padding-bottom: 1.5%;
      text-align: left;
      color: rgb(0, 0, 0);
    }

    

    .j {
      background-color: rgb(255,105,93);
      grid-column: col1-start / col3-start;
      grid-row: row8-start ;
      color: rgb(255, 255, 255);
      text-align: left;
      padding-top: 5%;
      padding-left: 10%;
      padding-right: 7%
    }

    .k {
      background-color: rgb(255,105,93);
      grid-column: col3-start / col4-end;
      grid-row: row8-start / row9;
      color: white;
      padding-top: 0%;
      padding-right: 0%;
      padding-left: 0%;
      padding-bottom: 0%;
    }

    